*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

body,
.App {
  min-height: 100vh;
  margin: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.15rem;
  /* font-family: "Inter", sans-serif;
  background-color: #ffffff; */
  font-family: montserrat;
  background: url(./james-sutton-d2y3hKRGH9g-unsplash.jpg);
  object-fit: cover;
  background-size: cover;
  overflow: hidden;
}